/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table {
  position: relative;
  margin: 20px 0;
  margin-left: 25px;
}
/* line 8, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan {
  text-align: center;
  background-color: #f5f5f5;
  margin-top: 17px;
  margin-left: 0;
  position: relative;
  z-index: 99;
}
/* line 20, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan.plan-primary {
  background-color: #f9f9f9;
  margin-top: 0px;
  margin-left: -5px;
  margin-right: -5px;
  z-index: 100;
}
/* line 29, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan.plan-primary h3 {
  font-size: 32.5px;
  line-height: 51px;
}
/* line 33, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan.plan-primary h4 {
  line-height: 22px;
}
/* line 36, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan.plan-primary a, ul.koudoku-pricing-table li.plan.plan-primary input[type=submit] {
  font-size: 21.5px;
  line-height: 26px;
}
/* line 40, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan.plan-primary ul.features {
  margin-bottom: 12px;
}
/* line 42, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan.plan-primary ul.features li {
  font-size: 12pt;
}
/* line 48, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan .call-to-action {
  margin: 10px 0;
}
/* line 52, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan .features {
  margin: 0;
}
/* line 54, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan .features li {
  list-style: none;
  padding: 8px;
  line-height: 18px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 61, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table li.plan .features li:first-child {
  border-top: none;
}
/* line 69, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table .social-proof {
  padding: 17px 0;
}
/* line 72, /home/mark/.rbenv/versions/2.1.6/lib/ruby/gems/2.1.0/gems/koudoku-1.2.4/app/assets/stylesheets/koudoku/pricing-table.scss */
ul.koudoku-pricing-table .social-proof blockquote h2, ul.koudoku-pricing-table .social-proof blockquote h3, ul.koudoku-pricing-table .social-proof blockquote h4 {
  padding: 5px 0;
}
