<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'comments/comment_list', collection: @comments %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
