<footer>
    <div class="container footerr">
      <div class="container-fluid footer-margin">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
          <ul class="footer-indent-title"><li><caption>TestPrep.co</caption></li></ul>
          <ul class="footer-indent">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact & support</a></li>
            <li><a href="#">Enterprise</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
          <ul class="footer-indent-title"><li><caption>Questions</caption></li></ul>
          <ul class="footer-indent">
            <li><a href="#">Skilled Recruitment</a></li>
            <li><a href="#">Direct Hire</a></li>
            <li><a href="#">Video-Powered Hiring System</a></li>
            <li><a href="#">Complete Recruitment</a></li>
            <li><a href="#">Software</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <ul class="footer-indent-title"><li><caption>Answers</caption></li></ul>
          <ul class="footer-indent">
            <li><a href="#">Job Search</a></li>
            <li><a href="#">Direct Hiring</a></li>
            <li><a href="#">Find a job</a></li>
            <li><a href="#">Apply for jobs Online</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
          <!-- <ul class="footer-indent-title"><li><caption>Pricing</caption></li></ul> -->
          <ul class="footer-indent">
            <li><a href="#">Plans</a></li>
          </ul>

          <div>
            <ul class="footer-indent-title"><li><caption>Connect with us</caption></li></ul>
            <ul class="footer-indent-socials">
              <li class="hoverable"><i class="fa fa-facebook fa-2x"></i></li>
              <li><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
</footer>